<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Arithmetic calculation</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="/addition">ADD</a></li>
      <li><a routerLink="/subtraction">SUB</a></li>
      <li><a routerLink="/multiplication">MUL</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
     </ul>
  </div>
</nav>